.register-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.register-box span{
    color: red;
    font-size: 18px;
}

.register-box form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.register-box input {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    width: 400px;
}

.register-box [type="submit"] {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-left: 2em;
    padding-right: 2em;
    border: none;
    background: linear-gradient(90deg, #0886d3, #01a2c9);
    border-radius: 10px;
    color: white;
}