<div class="page">
    <nav class="page__menu menu2">
        <ul class="menu__list r-list">
            <li class="menu__group"><a href="/orders" class="menu__link r-link text-underlined">Поръчки</a></li>
            <li class="menu__group"><a href="/sales" class="menu__link r-link text-underlined">Продажби</a></li>
            <li class="menu__group"><a href="/adding" class="menu__link r-link text-underlined">Добавяне на артикул</a>
            </li>
        </ul>
    </nav>
</div>

<div class="form-to-add">

    <h1>Добавяне на артикул</h1>
    <span>{{err}}</span>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <label for="header">Заглавие</label>
        <input type="text" name="header">
        <label for="size">Размер</label>
        <input type="text" name="size">
        <label for="price">Цена</label>
        <input type="text" name="price">
        <label for="category">Категория</label>
        <select name="category" id="category">
            <option value="tapestry">Гоблени</option>
            <option value="necklace">Гердани</option>
        </select>
        <input type="submit" value="Качване" />
    </form>

</div>