<div class="all-orders">
    <div class="order-list">
        <h1>Количка</h1>
        {{#each myOrders}}
        <div class="order">
            <p>ИД - 342431</p>
            <p>Име на артикул - Гоблен Оскар Уайлд</p>
            <p>Дата на поръчка - 22.06.23</p>
        </div>
        {{/each}}
    </div>
</div>