<div class="page">
    <nav class="page__menu menu2">
        <ul class="menu__list r-list">
            <li class="menu__group"><a href="/orders" class="menu__link r-link text-underlined">Поръчки</a></li>
            <li class="menu__group"><a href="/sales" class="menu__link r-link text-underlined">Продажби</a></li>
            <li class="menu__group"><a href="/adding" class="menu__link r-link text-underlined">Добавяне на артикул</a>
            </li>
        </ul>
    </nav>
</div>

<div class="order-list">
    <h1>Поръчки</h1>
    <div class="order">
        <p>ИД - 342431</p>
        <p>Име на артикул - Гоблен Оскар Уайлд</p>
        <p>Дата на поръчка - 22.06.23</p>
    </div>
    <div class="order">
        <p>ИД - 342431</p>
        <p>Име на артикул - Гоблен Оскар Уайлд</p>
        <p>Дата на поръчка - 22.06.23</p>
    </div>
    <div class="order">
        <p>ИД - 342431</p>
        <p>Име на артикул - Гоблен Оскар Уайлд</p>
        <p>Дата на поръчка - 22.06.23</p>
    </div>
</div>