<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Гоблени</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />

  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet" />
</head>

<body>
  <div class="info">
    <div class="deliveryInfo">
      <img src="/images/icons8-delivery-91_1_2_40x40.png" />
      <p>Плащане при доставка</p>
    </div>

    <div class="phoneInfo">
      <img src="/images/icons8-phone-40.png" />
      <p>(+359) 8978 564 23</p>
    </div>

    <div class="socialIcon">
      <img src="/images/icons8-facebook-40.png" alt="">
      <img src="/images/icons8-instagram-40.png" alt="">
    </div>

    <a href="">
      <p class="contact">Контакти</p>
    </a>

  </div>
  <header class="header">

    <img class="logo" src="/images/detelina-i-vie-logo_350x170.png" />

    <div class="d-flex justify-content-center h-100">
      <div class="search">
        <input type="text" class="search-input" placeholder="Търсене..." name="">
        <a href="/search" class="search-icon">
          <i class="fa fa-search"></i>
        </a>
      </div>
    </div>

    <div class="userNav">

      <a href="/"><img src="/images/shopping-cart.256x230_30x30.png" /></a>
      <p>3</p>

      <div class="dropdown">
        <button class="dropbtn"></button>
        <div class="dropdown-content" style="left:0;">
          <a href="#">Влизане</a>
          <a href="#">Регистрация</a>
          {{!-- <a href="#">Link 3</a> --}}
        </div>
      </div>
    </div>



  </header>

  <div class="galeryContainer">

    <div class="wrapper">

      <img class="galeryImage" src="/images/hobi-gobleni_3_1920x500.jpg">
      <img class="galeryImage" src="/images/goblen_1_1920x500.jpg">
      <img class="galeryImage" src="/images/ezgif.com-resize.jpg">

    </div>

  </div>

  {{{body}}}

    <div class="siteInfo">
    <img class="infoLogo" src="/images/detelina-i-vie-logo_350x170.png" />
    <p>Зарадвайте най - близкия си човек, роднина или приятел с ръчно изработените от мен гоблени. Те могат да съдържат
      любима за вас фраза, цитат или стихотворение. Купувайки този гоблен, Вие знаете, че той е единствен по рода си.
      Цената и времето, за което гобленът се изработва зависят от сложността и големината му.</p>
  </div>


  <footer class="bg-light text-center">

    <div class="container p-4 pb-0">

      <section class="">
        <form action="">

          <div class="row d-flex justify-content-center">

            <div class="col-auto">
              <p class="pt-2">
                <strong>Получаване на известия при публикуване на нови артикули.</strong>
              </p>
            </div>

            <div class="col-md-5 col-12">

              <div class="form-outline mb-4">
                <input type="email" id="form5Example27" class="form-control" />
                <label class="form-label" for="form5Example27">Имейл адрес</label>
              </div>
            </div>
          
            <div class="col-auto">

              <button type="submit" class="btn btn-primary mb-4">
                Абониране
              </button>
            </div>

          </div>

        </form>
        
      </section>

    </div>
    <div class="text-center p-3" style="background-color: rgba(199, 190, 190, 0.2);">
      © 2023 Copyright:
      <p>Detelina art</p>
    </div>

  </footer>

</body>

</html>