<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Производство и продажба на гоблени">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Гоблени</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet" />
</head>

<body>
  <header>

    <div class="contacts">
      <i class="fa-solid fa-truck fa-2xl" ></i>
      <p>Плащане при доставка</p>
    </div>

    <div class="contacts">
      <i class="fa-solid fa-phone fa-2xl"></i>
      <p>(+359) 8978 564 23</p>
    </div>

    <div class="contacts">
      <i class="fa-solid fa-address-book fa-2xl"></i>
      <a href="#">
        <p class="contact">Контакти</p>
      </a>
    </div>

    <div class="contacts social">
      <i class="fa-brands fa-facebook fa-2xl"></i>
      <i class="fa-brands fa-instagram fa-2xl"></i>
    </div>

  </header>

  <main>

    <div class="site">

      <section class="main">

        <div class="user-tools">

          <div class="logo">
            <a href="/">
              <img src="/images/detelina-i-vie-logo_350x170.png" />
            </a>
          </div>

          <div class="d-flex justify-content-center h-100">
            <div class="search">
              <input type="text" class="search-input" placeholder="Търсене..." name="">
              <a href="/search" class="search-icon">
                <i class="fa fa-search"></i>
              </a>
            </div>
          </div>

          <div class="menu">

            <div class="shoping-Cart">
              <a href="/"><img src="/images/shopping-cart.256x230_30x30.png" /></a>
              <p>0</p>
            </div>

            <div class="dropdown">
              <button class="dropbtn"></button>
              <div class="dropdown-content" style="left:0;">
                {{#unless log}}
                <a href="/login">Влизане</a>
                <a href="/register">Регистрация</a>
                {{else}}

                {{#if admin}}
                <a href="/Cpanel">Админ панел</a>
                <a href="/logout">Изход</a>
                {{else}}
                <a href="#">Моите поръчки</a>
                <a href="#">Любими</a>
                <a href="/logout">Изход</a>
                <span>{{userData.username}}</span>
                {{/if}}

                {{/unless}}
              </div>
            </div>

          </div>

        </div>

        <div class="galeryContainer">

          <div class="wrapper">
            <img class="galeryImage" src="/images/hobi-gobleni_3_1920x500.jpg">
            <img class="galeryImage" src="/images/goblen_1_1920x500.jpg">
            <img class="galeryImage" src="/images/ezgif.com-resize.jpg">
          </div>

        </div>

      </section>

      {{{body}}}

      <section class="site-info">

        <img class="infoLogo" src="/images/detelina-i-vie-logo_350x170.png" />

        <p>Зарадвайте най - близкия си човек, роднина или приятел с ръчно изработените от мен гоблени. Те могат да
          съдържат
          любима за вас фраза, цитат или стихотворение. Купувайки този гоблен, Вие знаете, че той е единствен по рода
          си.
          Цената и времето, за което гобленът се изработва зависят от сложността и големината му.</p>
      </section>

  </main>

  <footer class="bg-light text-center">

    <div class="container p-4 pb-0">

      <section class="">
        <form action="">

          <div class="row d-flex justify-content-center">

            <div class="col-auto">
              <p class="pt-2">
                <strong>Получаване на известия при публикуване на нови артикули.</strong>
              </p>
            </div>

            <div class="col-md-5 col-12">

              <div class="form-outline mb-4">
                <input type="email" id="form5Example27" class="form-control" />
                <label class="form-label" for="form5Example27">Имейл адрес</label>
              </div>
            </div>

            <div class="col-auto">

              <button type="submit" class="btn btn-primary mb-4"
                style="background: linear-gradient(90deg,#0886d3,#01a2c9); color:white">
                Абониране
              </button>
            </div>

          </div>

        </form>

      </section>

    </div>

    <div class="text-center p-3" style="    background: linear-gradient(90deg,#0886d3,#01a2c9); color:white">
      © 2023 Copyright:
      <p>Detelina i Vie</p>
    </div>

  </footer>

  </div>

</body>

</html>