<div class="login-box">
  <span>{{err}}</span>
  <form method="POST">
    <label>Потребителско име</label>
    <input type="text" name="email" />
    <label>Парола</label>
    <input type="password" name="password" />
    <input type="submit" value="Вход" />
  </form>
  <p>Нямате акаунт? <a href="/register">Регистрация</a></p>
</div>