
        <div class="register-box">
              <span>{{err}}</span>
            <form method="POST">
                <label>Потребителско име</label>
                <input type="text" name="username">
                <label>Имейл</label>
                <input type="text" name="email">
                <label>Парола</label>
                <input type="password" name="password">
                <label>Потвърди парола</label>
                <input type="password" name="confirmPassword">
                <input type="submit" value="Регистрация">
            </form>
            <p>Имате акаунт? <a href="/login">Вход</a></p>
        </div>